Repository Okabe-Junya/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: area/github-management, area/config, area/zsh, area/documentation

fix: ci workflow
  .github/workflows/test.yml
  install.zsh
Labels: area/github-management

fix: path
  install.zsh
Labels: none

fix: replace starship to omz
  .zsh/zshrc/omz.zsh
  .zsh/zshrc/starship.zsh
  install.zsh
Labels: area/zsh

fix: update zshrc
  .zshrc
Labels: area/zsh

del: starship config
  .config/starship/starship.toml
Labels: area/config

fix: update gitignore
  .gitignore
Labels: none

feat: add some scripts
  .zsh/dependency-check.zsh
  Makefile
Labels: area/zsh

feat: add README
  README.md
  install.zsh
Labels: none

.github/labeler.yml:

area/github-management:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

area/config:
  - changed-files:
      - any-glob-to-any-file:
          - ".config/**"

area/zsh:
  - changed-files:
      - any-glob-to-any-file:
          - ".zsh/**"
          - ".zshrc"

area/documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/*.md"
          - "docs/*.txt"
